name: Check for duplicates in vim-plugins.nix

on:
  schedule:
    - cron: "0 9 * * *" # At 09:00
  workflow_dispatch:
  workflow_call:

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    name: Check for duplicates
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ github.token }}
          ref: ${{ github.head_ref }}
      - name: Check duplicates
        uses: NixNeovim/actionstesting/.github/actions/check-duplicates@refactor-actions
