name: Check for duplicates in vim-plugins.nix

on:
  schedule:
    - cron: "0 9 * * *" # At 09:00
  workflow_dispatch:

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    name: Check if duplicates exists.
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.NIXPKGS_TOKEN }}
          ref: ${{ github.head_ref }}
      - run: |
          ./bin/check-duplicates.sh
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS }}
