name: Fetch plugins from various sources

on:
  schedule:
    - cron: "5 14 * * 0,4" # At 14:05 on Sunday and Thursday
  workflow_dispatch:
  workflow_call:

jobs:
  fetch:
    runs-on: ubuntu-latest
    name: Fetch plugins
    steps:

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ github.token }}
          ref: ${{ github.head_ref }}

      - name: Install nix
        uses: cachix/install-nix-action@V28
        with:
          github_access_token: ${{ github.token }}

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Fetch plugins
        run: nix run .#update-vim-plugins -- fetch --ansi

      - name: Clean up manifest.txt
        uses: NixNeovim/NixNeovimPlugins/.github/actions/cleanup@main

      - name: Update new plugins
        run: |
          nix run .#update-vim-plugins -- update --ansi
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SOURCEHUT_TOKEN: ${{ secrets.SOURCEHUT_TOKEN }}

      - name: Clean up manifest.txt
        uses: NixNeovim/NixNeovimPlugins/.github/actions/cleanup@main

      - name: Commit changes
        uses: NixNeovim/NixNeovimPlugins/.github/actions/ci-commit@main
        with:
          msg: 'Update plugin list'
