name: Completely update the repository

on:
  workflow_dispatch:

jobs:
  fetch-plugins:
    uses: NixNeovim/NixNeovimPlugins/.github/workflows/fetch-plugins.yml@main
  update-plugins:
    needs: fetch-plugins
    uses: NixNeovim/NixNeovimPlugins/.github/workflows/update-all-plugins.yml@main
