name: PR - check for duplicate caused by new PR

on:
  workflow_dispatch:
  pull_request:
    paths:
      - pkgs/vim-plugins.nix
    branches:
      - main

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    name: Check if duplicates exists.
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ github.token }}
          ref: ${{ github.head_ref }}
      - name: Check duplicates
        uses: NixNeovim/actionstesting/.github/actions/check-duplicates@refactor-actions
        with:
          check_only: true
