name: Checks PR for duplicates

on:
  pull_request:
    paths:
      - pkgs/vim-plugins.nix
    branches:
      - "**"
  workflow_dispatch:

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    name: Check if duplicates exists.
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.REPO_ACCESS }}
          ref: ${{ github.head_ref }}
      - run: |
          ./bin/check-duplicates.sh "check-only"
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS }}
