name: PR - Update plugins in new PR

on:
  workflow_dispatch:
  pull_request_target:
    branches:
      - main

jobs:
  sync-changes:
    runs-on: ubuntu-latest
    name: Update plugins
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - name: Install nix
        uses: cachix/install-nix-action@V28
        with:
          github_access_token: ${{ github.token }}

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Clean up Manifest
        uses: NixNeovim/NixNeovimPlugins/.github/actions/cleanup@main

      - name: Update new plugins
        run: |
          nix run .#update-vim-plugins -- update --ansi
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SOURCEHUT_TOKEN: ${{ secrets.SOURCEHUT_TOKEN }}

      - name: Clean up Manifest after update
        uses: NixNeovim/NixNeovimPlugins/.github/actions/cleanup@main

      - name: Commit changes
        uses: NixNeovim/NixNeovimPlugins/.github/actions/ci-commit@main
        with:
          msg: 'Update plugins'
