name: Sync changes on manifest

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  workflow_call:
    inputs:
      commit_message:
        description: Commit message
        type: string
        required: false
        default: 'bot: sync manifest'

jobs:
  sync-changes:
    runs-on: ubuntu-latest
    name: Update plugins
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.NIXPKGS_TOKEN }}
          ref: ${{ github.head_ref }}
      - uses: cachix/install-nix-action@v17
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.NIXPKGS_TOKEN }}
      - run: |
          nix run .#update-vim-plugins -- lint
          nix run .#update-vim-plugins
        env:
          GITHUB_TOKEN: ${{ secrets.NIXPKGS_TOKEN }}
          SOURCEHUT_TOKEN: ${{ secrets.SOURCEHUT_TOKEN }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_user_name: FetchPluginsBot
          commit_user_email: joscha.loos@rwth-aachen.de
          commit_author: Joscha Loos <joscha.loos@rwth-aachen.de>
          commit_message: ${{ on.workflow_call.inputs.commit_message }}
          file_pattern: manifest.txt pkgs/vim-plugins.nix .previous-update.json plugins.md
