name: Update all plugins

on:
  schedule:
    - cron: "5 14 * * 0,4"
  workflow_dispatch:
  workflow_call:

jobs:
  update-plugins:
    runs-on: ubuntu-latest
    name: Update plugins
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ github.token }}
          ref: ${{ github.head_ref }}
      - uses: cachix/install-nix-action@V28
        with:
          github_access_token: ${{ github.token }}

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Update all plugins
        run: nix run .#update-vim-plugins -- update --all --ansi
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SOURCEHUT_TOKEN: ${{ secrets.SOURCEHUT_TOKEN }}

      - name: Commit changes
        uses: NixNeovim/NixNeovimPlugins/.github/actions/ci-commit@main
        with:
          msg: 'Update plugins'
