name: Update all plugins

on:
  schedule:
    - cron: "5 14 * * 0,4"
  workflow_dispatch:
  workflow_call:

jobs:
  update-plugins:
    runs-on: ubuntu-latest
    name: Update plugins
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ github.token }}
          ref: ${{ github.head_ref }}
      - uses: cachix/install-nix-action@v20
        with:
          github_access_token: ${{ github.token }}
      - name: Reset vim-plugins.nix # TODO: workaround: if vim-plugins is broken, all 'nix run' actions will fail
        run: |
          echo "{ ...} : {}" > ./pkgs/vim-plugins.nix
      - run: nix run .#update-vim-plugins -- update --all
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SOURCEHUT_TOKEN: ${{ secrets.SOURCEHUT_TOKEN }}
      - name: Check duplicates
        uses: NixNeovim/NixNeovimPlugins/.github/actions/check-duplicates@main
      - name: Commit changes
        uses: NixNeovim/NixNeovimPlugins/.github/actions/ci-commit@main
        with:
          msg: 'Update plugins'
